<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @poll.question %>
</p>

<p style="color:grey;">Click on one of the following options to vote. Be careful, you may only vote for one option and your vote is irreversible!</p>

<p>    
  <%= @poll.option_a_score %>
  <%= link_to "Option A: ", {:controller => "polls", :action => "vote_a", :id => @poll.id}, :class => "btn btn-mini"%>
  <%= @poll.option_a %>
</p>

<p>
    <%= @poll.option_b_score %>
    <%= link_to "Option B: ", {:controller => "polls", :action => "vote_b", :id => @poll.id}, :class => "btn btn-mini"%>
    <%= @poll.option_b %>
</p>

<%= link_to 'Back', polls_path, :class => "btn btn-mini"%>
