<%= simple_form_for(@rsakey) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :userid %>
    <%= f.input :marshkey %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
